body {
    background-color: #DFDEDE;
}
#main {
    width: 400px;
    height: 750px;
    display: flex;
    background-color: #060709;
    flex-direction: column;
    margin: 90px auto;
    border-radius: 20px;
    color: white;
    padding-top: 10px;
    overflow: hidden;
}
#top-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
#theme-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    height: 80px;
    width: 120px;
    border-radius: 20px;
    background-color: #292D36;
    padding: 0px 20px;
}
#theme-buttons i {
    cursor: pointer;
}
#calc-wrapper {
    width: 100%;
    text-align: right;
    padding-right: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
}
#calc-wrapper span {
    font-size: 1.8em;
    font-weight: normal;
}
#calc-wrapper h4 {
    font-size: 3.5em;
    font-weight: bold;
}
#btn-wrapper {
    background-color: #292D36;
    height: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 18px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 15px;
}
#row-1-btns, #row-2-btns, #row-3-btns, #row-4-btns, #row-5-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#row-1-btns div, #row-2-btns div, #row-3-btns div, #row-4-btns div, #row-5-btns div {
    border-radius: 14px;
    background-color: #272B33;
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-line {
    width: 160px;
    height: 5px;
    border-radius: 10px;
    background-color: #474B52;
    margin: 20px auto;
}

#row-1-btns div {
    color: #25FCD5;
}
#row-1-btns div:last-of-type, #row-2-btns div:last-of-type,
#row-3-btns div:last-of-type, #row-4-btns div:last-of-type, #row-5-btns div:last-of-type {
    color: #F47A7B;
}

#typing-text {
    height: 50px;
}
#answer {
    height: 70px;
}
#typing-text span {
    color: #F47A7B;
    padding: 0px 10px;
    font-size: 18px;
}
