black==23.11.0
isort==5.12.0
pytest==7.1.2
pre-commit==3.5.0
playwright==1.33.0
pytest-playwright==0.3.3
pytest-xdist==3.3.0
pexpect==4.9.0
pyodide_py==0.24.1
micropip==0.5.0
toml==0.10.2
numpy==1.26.2
pillow==10.1.0
