black==24.4.2
isort==5.13.2
pytest==8.2.1
pre-commit==3.7.1
playwright==1.44.0
pytest-playwright==0.5.0
pytest-xdist==3.6.1
pexpect==4.9.0
pyodide_py==0.24.1
micropip==0.5.0
toml==0.10.2
numpy==1.26.4
pillow==10.3.0
