
/* Unset the overly generic pyscript .label style */
#app-placeholder .label {
    margin-top: inherit;
    color: inherit;
    text-align: inherit;
    width: inherit;
    display: inherit;
    color: inherit;
    font-size: inherit;
    margin-top: inherit;

}

/*******************************************************************
 * WARNING: Do not remove or modify this comment block, or add any
 * content below this block. Briefcase will add content here during
 * the build step.
 ******************* Wheel contributed styles **********************/

/*******************************************************
 * toga_web 0.3.0::toga.css
 *******************************************************/

main.toga.window {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

div.toga.box {
    display: flex;
}

span.toga.label {
    white-space: nowrap;
}
