#output > div {
    font-family: 'monospace';
    background-color: #e5e5e5;
    border: 1px solid lightgray;
    border-top: 0;
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  #output > div:first-child {
    border-top: 1px solid lightgray;
  }

  #output > div:nth-child(even) {
    border: 0;
  }
