.DS_Store
.nyc_output
.eslintrc.json
.github/
.travis.yml
.eslintrc.json
*.log
coverage/
micropython/
node_modules/
pyscript/
rollup/
test/
index.html
node.importmap
sw.js
tsconfig.json
cjs/worker/_template.js
esm/worker/_template.js
