*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

p {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
}

a {
    text-decoration: none;
}
